
@{
    ViewBag.Title = "ListaDesdeWebApiPorJavascript";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/js/productos.js"></script>
<h2>ListaDesdeWebApiPorJavascript</h2>

<input type="button" id="btnRefrescar" value="Refrescar" />

<table id="tblProductos">
    <tr>
        <th>
            Nombre
        </th>
    </tr>
</table>

